# --- Include base requirements ---
-r requirements.txt

# --- Dev & Testing ---
pytest>=8.0.0               # Unit testing
pytest-cov>=5.0.0           # Coverage report
black>=24.0.0               # Code formatter
flake8>=7.0.0               # Linter
mypy>=1.10.0                # Type checking
autopep8>=2.0.0             # Optional style fixer
pyinstaller>=6.0.0          # Build to EXE (for end user)
